.book-item {
    display: flex; /* Use flexbox to align image and details horizontally */
    align-items: center; /* Center items vertically */
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    text-align: left; /* Align text to the left */
    width: calc(33.333% - 40px); /* 33.333% width minus margin and padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* Optional: Added rounded corners for a softer look */
  }
  
  .book-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }
  
  .book-item_image {
    width: 150px;
    height: 225px;
    display: flex;
    align-items: center; /* Center the image vertically */
    justify-content: center;
    margin-right: 20px; /* Add spacing between image and details */
  }
  
  .book-item_image img {
    width: 100%; /* Ensure the image fits the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Match the border radius */
  }
  
  .book-item_title {
    font-size: 1.2em;
    margin: 0;
    color: #bb3d3d; /* Darker color for better readability */
  }
  
  .author {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px; /* Added spacing */
  }
  
  .button {
    display: inline-block;
    padding: 9px 10px;
    margin-top: 10px;
    background-color: #cd853f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em; /* Consistent with author text size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .button:hover {
    background-color: #a0522d;
  }
  
  .book-item_buttons {
    display: flex;
    gap: 10px; /* Adds space between the buttons */
  }
  