/* Home Container Styles */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94.19vh;
    margin: 0;
    background-image: url('./home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #edeae8;
    text-align: center;
    padding: 20px;
    position: relative;
}

.home-container h1 {
    font-size: 3rem;
    margin: 0;
}

/* Carousel Container Styles */
.carousel-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(to bottom, #f9f9f9, #fff);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-title {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Georgia', serif; /* Vintage font */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    border-bottom: 2px solid #8e948d;
    display: inline-block;
}

/* Carousel Styles */
.carousel-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px 0;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f5f5dc; /* Vintage background color */
    border: 1px solid #d2b48c; /* Vintage border color */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0 10px;
}

.carousel-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.carousel-card .info {
    text-align: center;
}

.carousel-card h3 {
    font-size: 1.2em;
    margin: 10px 0 5px;
    color: #8b4513; /* Vintage text color */
    font-family: 'Georgia', serif; /* Vintage font */
}

.carousel-card p {
    font-size: 1em;
    color: #5e4630; /* Vintage text color */
    font-family: 'Georgia', serif; /* Vintage font */
}

.dropdown-btn {
    margin-top: 10px;
    background-color: #d2b48c; /* Vintage button color */
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Georgia', serif; /* Vintage font */
}

.dropdown-btn:hover {
    background-color: #b8860b; /* Darker vintage button color on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: #8b4513; /* Vintage link color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
    font-family: 'Georgia', serif; /* Vintage font */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.carousel-card:hover {
    transform: translateY(-10px);
}

.carousel-card:hover .dropdown-content {
    display: block;
}
